<div class="recipe-details-block"
     style="width: 800px; display: block; margin: 70px auto;">
  <h5 class="text-capitalize text-center">Recipe details</h5>
  <div class="card"
       style="width: 700px; display: block; margin: 70px auto;">
    <img [src]="recipe.imgUrl"
         alt=""
         style="max-height: 300px;"
         class="card-img-top">
    <div class="card-body">
      <p>Name: {{ recipe.name }}</p>
      <p>Description: {{ recipe.recipeDescription }}</p>
      <p>Ingredients: {{ recipe.ingredients }}</p>
      <div class="steps mt-5">
        <h5 class="text-center">Steps</h5>
        <div class="steps-list mt-3" *ngFor="let step of recipe.steps; let i = index">
          <p>{{ i +1 }}. {{ step.stepDescription }}</p>
          <img [src]="step.stepImg"
               style="width: 300px; height: 200px;"
               alt="">
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <a
        [routerLink]="['/recipes', recipe.id, 'edit']"
        class="btn btn-primary">edit</a>
      <button (click)="remove()"
         class="btn btn-danger ml-2">delete</button>
    </div>
  </div>
</div>
